body { background: #b5c3bd; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 41px; display: flex; }
.block-uploader-0 { color: #a6c9d2; font-size: 21px; margin-bottom: 5px; }
.block-session-1 { color: #68443d; font-size: 21px; margin-bottom: 5px; }
.block-search-2 { color: #ea2948; font-size: 12px; margin-bottom: 5px; }
.block-helper-3 { color: #c64f48; font-size: 13px; margin-bottom: 5px; }
.block-uploader-4 { color: #633ebb; font-size: 14px; margin-bottom: 5px; }